.imageplay-batu{
  width: 128px;
  height: 92px;
  border-radius: 30px;
}
.imageplay-kertas{
  width: 115px;
  height: 150px;
  border-radius: 30px;
}
.imageplay-gunting{
  width: 134px;
  height: 160px;
  border-radius: 30px;
}
.vs{
  font-family: 'Open Sans';
  font-style: normal;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #4C9654;
  border-radius: 10px;
  transform: rotate(-28.87deg);
  font-size: 38px;
}
.com {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.gunting:hover {
  border: 1px red solid;
}
.game-mode {
  display: flex;
  width: 100vw;
  height: 800px;
  align-items: center;
  justify-content: center;
  gap: 150px;
  background-color: #9C835F;
}
.player-1 > img {
  cursor: pointer;
}
.result {
  width: 100px;
  height: 50px;
  text-align: center;
}
.refresh{
  margin-top: 10pc;
  width: 77px;
  height: 71px;
  left: 681px;
  top: 843px;
}
.logo1{
  width: 18px;
  height: 20px;
  left: 37px;
  top: 12px;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
}
.result > h1 {
  margin: auto;
}
.arow{
  width: 18px;
  height: 20px;
  left: 37px;
  top: 12px;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
}
.player-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}